<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">Contents</h2>
    <ul class="govuk-tabs__list">
        <% groups.each do |group| %>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#<%= slugify(group.name) %>">
                    <%= group.name %>
                </a>
            </li>
        <% end %>
    </ul>

    <% groups.each_index do |i| %>
        <% group = groups[i] %>
        <div class="govuk-tabs__panel <%= i > 0 ? "govuk-tabs__panel--hidden" : "" %>" id="<%= slugify(group.name) %>">
            <h1 class="govuk-headling-l"><%= group.name %></h1>

            <% group.pipelines.each do |pipeline| %>
                <%= erb :'partials/pipeline', :locals => { pipeline: pipeline } %>
            <% end %>
        </div>
    <% end %>
</div>
